[submodule "dujiaoka"]
	path = dujiaoka
	url = https://github.com/AlleoAlliance/dujiaoka
[submodule "usdt"]
	path = usdt
	url = https://github.com/AlleoAlliance/epusdt
[submodule "tokenpay"]
	path = tokenpay
	url = https://github.com/AlleoAlliance/TokenPay
